header,
main,
footer{
  width: 800px;
  margin-left: calc(50% - 400px);
}


header {
  background-color: yellow;
  width: 800px;
  }

main{
  background-color: green;
 }

footer{
  background-color: red;  
 }